body{
    background: #353434;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.video-container {
    margin: 10px;
    width: 630px;
}

.video {
    width: 630px;
    height: 385px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 10px solid transparent;
    border-image: linear-gradient(45deg, red, blue);
    border-image-slice: 1;
}

h4 {
    margin-top: 10px;
    color: #ffffff;
}